#except ide folder
.vscode
.idea

# Added by cargo

target
target/*
*/target
*/target/*
.rust_info.json
CACHEDIR.TAG
src/rust/rust_fileFunc/target
src/rust/rust_fileFunc/target/*

#except bionary file


#except MSVC file
*.obj
*.pdb
*.pdb